<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"
            integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS"
            crossorigin="anonymous"></script>
        {#bundle /}
</head>
<body hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'>
<div class="container">
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link " href="{uri:HomeController.home}">หน้าหลัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{uri:StudentController.student}">ข้อมูลนักเรียน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{uri:TeacherController.teacher}">ข้อมูลครู</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{uri:HomeController.about}">เกี่ยวกับโรงเรียน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{uri:HomeController.contact}">ติดต่อเรา</a>
                </li>
            </ul>
        </div>
    </nav>
    {#insert} {/insert}
</div>
</body>
</html>