{#include main.html}
<div class="container-xxl my-md-4 bd-layout">
    <div class="justify-content-center">
        <h3 class="fw-bold text-center">ข้อมูลนักเรียน</h3>
        <div class="float-end">
            <button
                    hx-get="/student/modal"
                    hx-target="#modals-here"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#modals-here"
                    class="btn btn-primary">เพิ่มนักเรียน
            </button>
        </div>
        <div id="modals-here"
             class="modal modal-blur fade"
             style="display: none"
             aria-hidden="false"
             tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="container">
            {#fragment id = "list"}
            <table class="table">
                <thead class="text-center">
                <tr>
                    <th>รหัสนักเรียน</th>
                    <th>ชื่อ - นามสกุล</th>
                    <th>อายุ</th>
                    <th>ระดับชั้น</th>
                    <th>จัดการ</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {#for s in students}
                <tr>
                    <td>{s.id}</td>
                    <td>{s.fName}  {s.lName}</td>
                    <td>{s.age}</td>
                    <td>มัธยมศึกษาปีที่ {s.degree}</td>
                    <td>
                        <i class="bi bi-eye me-2"
                           hx-get="/student/view/{s.id}"
                           hx-target="#modals-here"
                           hx-trigger="click"
                           data-bs-toggle="modal"
                           data-bs-target="#modals-here"
                        ></i>
                        <i class="bi bi-pencil me-2"
                           hx-get="/student/update/{s.id}"
                           hx-target="#modals-here"
                           hx-trigger="click"
                           data-bs-toggle="modal"
                           data-bs-target="#modals-here"></i>
                        <i class="bi bi-trash3"
                           hx-delete="/student/{s.id}"
                           hx-trigger="click"
                           hx-target="#list"
                        ></i>
                    </td>
                </tr>
                {/for}
                </tbody>
            </table>
            {/fragment}
        </div>
    </div>
</div>

